csfd-extended.js
csfd-MoviePreview.js
csfd-StarNames.js

package-lock.json
.jshintrc

node_modules/
logs/
.vscode/
coverage/

.VSCodeCounter/*

# TEMP
csfd-compare-new.js
test-results/*
