.cc-settings {
    width: 380px;
    right: 50px;
    top: 100%;
}

.cc-settings-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
}

.cc-badge {
    font-weight: bold;
    background-color: #2c3e50;
    color: white;
    padding: 2px 4px;
    border-radius: 6px;
    cursor: help;
    font-size: 0.7rem;
}

.cc-badge-red {
    background-color: #aa2c16;
}

.cc-badge-black {
    background-color: #000000;
}

.cc-button {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.2s;
    height: auto;
}

.cc-button-red {
    background-color: #aa2c16;
}

.cc-button-black {
    background-color: #242424;
}

.cc-button-black:hover {
    background-color: #000000;
}

.header-bar .csfd-compare-menu {
    position: relative;
}

.header-bar .csfd-compare-menu .cc-menu-icon {
    position: absolute;
    inset: 0;
    margin: auto;
    display: block;
    width: 24px;
    height: 24px;
}