.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.grow {
    flex-grow: 1;
}

.grow-0 {
    flex-grow: 0;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

.grow-3 {
    flex-grow: 3;
}

.grow-4 {
    flex-grow: 4;
}

.grow-5 {
    flex-grow: 5;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-30 {
    gap: 30px;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.ph-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.ph-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.pv-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pv-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mh-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mh-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mv-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mv-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}