.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.grow {
    flex-grow: 1;
}

.grow-0 {
    flex-grow: 0;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

.grow-3 {
    flex-grow: 3;
}

.grow-4 {
    flex-grow: 4;
}

.grow-5 {
    flex-grow: 5;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-30 {
    gap: 30px;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.ph-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.ph-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.pv-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pv-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mh-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mh-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mv-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mv-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cc-own-rating {
    margin-left: 6px;
    vertical-align: middle;
}

.cc-own-rating-foreign-profile {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 5px;
    display: inline-flex;
    align-items: center;
}

.cc-own-rating-computed .stars:before {
    color: var(--color-grey-dark2, #d2d2d2);
}

.cc-own-rating-computed-count {
    font-size: 13px;
    color: var(--color-grey-light2, #7b7b7b);
    margin-left: 2px;
}

.cc-my-rating-col {
    width: 64px;
    text-align: center;
}

.cc-my-rating-cell {
    width: 64px;
    text-align: center;
    white-space: nowrap;
}

.cc-my-rating-cell .cc-own-rating {
    margin-left: 0;
}

.cc-compare-ratings-table {
    width: calc(100% + 24px);
}

.cc-gallery-size-host {
    position: relative;
}

.cc-gallery-size-links {
    position: absolute;
    right: 8px;
    bottom: 8px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    z-index: 11;
}

.cc-gallery-size-host:hover .cc-gallery-size-links,
.cc-gallery-size-links:hover,
.cc-gallery-size-links.is-visible {
    display: flex;
}

.cc-gallery-size-link {
    display: inline-block;
    min-width: 48px;
    text-align: center;
    padding: 2px 6px;
    border-radius: 5px;
    background-color: rgba(255, 245, 245, 0.82);
    color: #222;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
}

.cc-gallery-size-link:hover {
    text-decoration: underline;
}